<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://127.0.0.1:5432/hib_users</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="show_sql">true</property>

        <mapping resource="ru/job4j/gsmirnov/models/User.hbm.xml"/>
        <mapping resource="ru/job4j/gsmirnov/models/Task.hbm.xml"/>
    </session-factory>
</hibernate-configuration>